* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(#f2761e, #ef4921);
}

.box {
    display: flex;
}

.eye {
    position: relative;
    width: 120px;
    height: 120px;
    display: inline-block;
    background: #fff;
    margin: 0 2px;
    border-radius: 50%;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2), inset 0 0 15px #f2761e, inset 0 0 15px #f2761e;
}

.eye::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 35px;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
    border: 10px solid blueviolet;
    box-sizing: border-box;
}

